mixin mainHeader(heading, subHeading, group)
	header.main__header
		.main__header-bg
			.container
				h1 #{heading}
				if (subHeading)
					p #{subHeading}
		.container
			ol.breadcrumb
				li
					a(href="./")
						span.visually-hidden главная

				if group == 'other'
					li
						a(href=`article/${idPage}/`, aria-current="page") #{nameGroup}
				else
						li
							a(href=`article/${group}/`,) #{nameGroup}
						li
							a(href=`article/${group}/${idPage}/`, aria-current="page") #{heading}


mixin codeBlock(title, code)
	.code
		p.code__header #{title}
			button.code__copy(type="button")
				span.visually-hidden копировать
		pre
			code
				| #{code}


mixin articleCard(title, descCard, file, date = 'Дата потерялась')
	article.card
		h3.card__title #{title}
		p.card__desc #{descCard}
		p.card__meta
			a.card__link(href=`./${file}`) Подробнее
			if date
				span.card__date #{date}
