mixin mainPage(heading, subHeading, group)
	header.main__header
		.main__header-bg
			.container
				h1 #{heading}
				if (subHeading)
					p #{subHeading}
		if group != 'other'
			.container
				ol.breadcrumb
					li
						a(href="./")
							span.visually-hidden главная
					li
						a(href=`article/${group}/`) #{group}
					li
						a(href=`article/${group}/${idPage}.html`, aria-current="page") #{heading}


mixin codeBlock(title, code)
	.code
		p.code__header #{title}
			button.code__copy(type="button")
				span.visually-hidden копировать
		pre
			code
				| #{code}

mixin articleCard(title, descCard, file, date)
	article.card
		a.card__link(href=`./${file}`)
			h3.card__title #{title}
		p.card__desc #{descCard}


		if idPage != 'index'
			if date
				p.card__meta #{date}
