mixin mainHeader(heading, subHeading, group)
	header.main__header
		.main__header-bg
			.container
				h1 #{heading}
				if (subHeading)
					p #{subHeading}
		.main__header-container.container
			ol.breadcrumb
				li
					a(href="./", title="Главная" )
						span.visually-hidden главная

				if group == 'other'
					li
						a(href=`article/${idPage}/`, aria-current="location") #{nameGroup}
				else
						li
							a(href=`article/${group}/`,) #{nameGroup}
						li
							a(href=`article/${group}/${idPage}/`, aria-current="location") #{heading}

			if idPage != 'index'
				if group != 'other'
					a.main__header-correct(href=`mailto:uzinok@yandex.ru?subject=правка на странице '${idPage}'`, title="Сообщить об ошибке")
						span.visually-hidden Сообщить об ошибке

mixin codeBlock(title, code)
	.code
		p.code__header #{title}
			button.code__copy(type="button", title="Копировать код")
				span.visually-hidden копировать
		pre
			code
				| #{code}

mixin articleCard(title, descCard, file, date = 'Дата потерялась')
	article.card
		h3.card__title #{title}
		blockquote(cite=`./${file}`)
			p.card__desc #{descCard}
		p.card__meta
			a.card__link(href=`./${file}`) Подробнее
			if date
				span.card__date #{date}

mixin navLink(idCurrentPage, nameLink)
	if idPage == idCurrentPage
		a.header__link(href=idPage == 'index' ? '#${idCurrentPage}' : `article/${idCurrentPage}/`, aria-current="page") #{nameLink}
	else
		a.header__link(href=idPage == 'index' ? `#${idCurrentPage}` : `article/${idCurrentPage}/`) #{nameLink}

mixin zen-video(dataIframe, urlVideo, urlImg)
	.media-dzen(data-iframe=`${dataIframe}`)
		a.media-dzen__link(href=`${urlVideo}`, target="_blank", rel="noopener noreferrer")
			picture.media-dzen__visible
				source(srcset=`${urlImg}.avif`, type="image/avif")
				source(srcset=`${urlImg}.webp`, type="image/webp")
				img.media-dzen__img(src=`${urlImg}.jpg`, alt="#", width="900", height="507", loading="lazy")

		button.media-dzen__play(type="button")
			span.visually-hidden Воспроизвести видео
