mixin mainPage(heading, subHeading)
	header.main__header
		.container
			h1 #{heading}
			if (subHeading)
				p #{subHeading}

mixin codeBlock(title, code)
	.code
		p.code__header #{title}
			button.code__copy(type="button")
				span.visually-hidden копировать
		pre
			code
				| #{code}

mixin articleCard(title, descCard, file, date)
	article.card
		a.card__link(href=`./${file}`)
			h3.card__title #{title}
		p.card__desc #{descCard}


		if idPage != 'index'
			if date
				p.card__meta #{date}
